<div class="wrapper">
  <h3 style="margin: 0.5rem 0">Product List</h3>
  <p>Total product: {{ totalRows }}</p>
  <pagination-controls
    class="pagination"
    (pageChange)="currentPage = $event"
    maxSize="7"
    directionLinks="false"
    autoHide="true"
    responsive="false"
    previousLabel="<"
    nextLabel=">"
  ></pagination-controls>
  <div class="product-list">
    <div
      [routerLink]="['/product', product.id]"
      class="product"
      *ngFor="
        let product of products
          | paginate
            : {
                itemsPerPage: 8,
                currentPage: currentPage,
                totalItems: totalRows
              }
      "
    >
      <img
        class="product__image"
        [src]="[product.imgUrl]"
        alt="image"
        loading="lazy"
      />
      <div class="product__info">
        <p class="product__info__name">
          {{ product.name }}
        </p>
        <strong class="product__info__price">{{ product.price }}</strong>
      </div>
    </div>
  </div>
  <pagination-controls
    class="pagination"
    (pageChange)="currentPage = $event"
    maxSize="7"
    directionLinks="false"
    autoHide="true"
    responsive="false"
    previousLabel="<"
    nextLabel=">"
  ></pagination-controls>
</div>
