@import "/src/assets/scss/shared";

.wrapper {
  animation: slideToRight 1000ms ease-in;
  .product-list {
    margin-right: -1rem;
    display: flex;
    flex-flow: row wrap;
    .product {
      background: $white;
      color: $black;
      margin: 0.5rem 0;
      margin-right: 1rem;
      padding: 1rem;
      width: calc(100% / 4 - 1rem);
      height: 250px;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      border-radius: 0.5rem;
      box-shadow: 0 0 0px 1px $white-secondary;
      transition: $transition;
      &__image {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 0.25rem;
        box-shadow: 0 0 0px 1px $white-secondary;
      }
      &__info {
        margin-top: 1rem;
        &__price {
          font-size: 150%;
        }
      }
    }
    .product:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 1px rgba($color: $gray, $alpha: 0.5);
    }
  }
}
@media screen and (max-width: $tablet) {
  .wrapper {
    .product-list {
      .product {
        width: calc(100% / 3 - 1rem);
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  .wrapper {
    .product-list {
      .product {
        margin: 0.5rem 0;
        margin-right: 1rem;
        padding: 0;
        width: calc(100% - 1rem);
        height: 100px;
        flex-flow: row;
        animation: slideToRight 750ms ease-out;
        &__image {
          width: 150px;
          height: 100%;
          border-radius: unset;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          box-shadow: none;
        }
        &__info {
          margin-top: 1rem;
          margin-left: 1rem;
        }
      }
      .product:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 1px rgba($color: $gray, $alpha: 0.25);
      }
    }
  }
}
