@import "/src/assets/scss/shared";

.product-list {
  margin-right: -1em;
  display: flex;
  flex-flow: row wrap;
  .product {
    background: $white;
    color: $black;
    margin: 0.5em 0;
    margin-right: 1em;
    padding: 1em;
    width: calc(100% / 4 - 1em);
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    border-radius: 0.5em;
    box-shadow: 0 0 0px 1px $white-secondary;
    transition: $transition;
    animation: slideToRight 1000ms ease-out;
    &__image {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 0.25em;
      box-shadow: 0 0 0px 1px $white-secondary;
    }
    &__info {
      margin-top: 1em;
      &__price {
        font-size: 150%;
      }
    }
  }
  .product:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba($color: $gray, $alpha: 0.5);
  }
}
@media screen and (max-width: $tablet) {
  .product-list {
    .product {
      width: calc(100% / 3 - 1em);
    }
  }
}
@media screen and (max-width: $mobile) {
  .product-list {
    .product {
      margin: 0.5em 0;
      margin-right: 1em;
      padding: 0;
      width: calc(100% - 1em);
      height: 100px;
      flex-flow: row;
      animation: slideToRight 750ms ease-out;
      &__image {
        width: 150px;
        height: 100%;
        border-radius: unset;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        box-shadow: none;
      }
      &__info {
        margin-top: 1em;
        margin-left: 1em;
      }
    }
    .product:hover {
      cursor: pointer;
      box-shadow: 0 0 5px 1px rgba($color: $gray, $alpha: 0.25);
    }
  }
}
