@import "/src/assets/scss/shared";

.wrapper {
  .pagination {
    height: 2.5rem;
    line-height: 75%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    animation: slideToLeft 1000ms ease-out;
    ::ng-deep .ngx-pagination {
      margin: 0.5rem;
      animation: slideToLeft 1000ms ease-out 500ms backwards;
      .current {
        padding: 0.5rem;
        background: $magenta;
        border-radius: 0.25rem;
      }
    }
    &--bottom {
      small {
        display: block;
        opacity: 0;
      }
    }
  }
  .product-list {
    margin-right: -1rem;
    display: flex;
    flex-flow: row wrap;
    .product {
      background: $white;
      color: $black;
      margin-bottom: 1rem;
      margin-right: 1rem;
      padding: 1rem;
      width: calc(100% / 4 - 1rem);
      min-height: 250px;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      border-radius: 0.5rem;
      box-shadow: 0 0 0px 1px $white-secondary;
      transition: $transition;
      animation: slideToRight 1000ms ease-out;
      &__image {
        width: 100%;
        height: 12.5vw;
        object-fit: cover;
        border-radius: 0.25rem;
        box-shadow: 0 0 0px 1px $white-secondary;
      }
      &__info {
        margin-top: 1rem;
        &__name {
          height: 2.5vw;
          min-height: 4rem;
        }
        &__price {
          color: $red;
          min-width: max-content;
          font-size: 150%;
        }
        &__category {
          display: block;
        }
      }
    }
    .product:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 1px rgba($color: $gray, $alpha: 0.5);
    }
  }
}
@media screen and (max-width: $tablet) {
  .wrapper {
    .product-list {
      .product {
        width: calc(100% / 3 - 1rem);
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  .wrapper {
    .pagination {
      flex-flow: column wrap;
      justify-content: center;
      animation: slideToRight 1000ms ease-out;
      ::ng-deep {
        .ngx-pagination {
          margin: 0.5rem 0;
          animation: slideToRight 1000ms ease-out;
          transition: $transition;
        }
      }
      &--bottom {
        animation: slideToRight 1000ms ease-out 5000ms backwards;
      }
    }
    .product-list {
      .product {
        margin: 0.5rem 0;
        margin-right: 1rem;
        padding: 0;
        width: calc(100% - 1rem);
        min-height: unset;
        height: 100px;
        flex-flow: row;
        animation: slideToLeft 1000ms ease-out;
        &__image {
          width: 160px;
          min-width: 160px;
          height: 100%;
          border-radius: unset;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          box-shadow: none;
        }
        &__info {
          margin-top: 1rem;
          margin-left: 1rem;
          &__name {
            min-height: 3rem;
          }
          &__price {
            font-size: 125%;
          }
          &__category {
            display: none;
          }
        }
      }
      .product:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 1px rgba($color: $gray, $alpha: 0.25);
      }
    }
  }
}
