<div class="wrapper">
  <input
    style="width: 100%; margin: 0.5rem 0"
    class="form-control"
    type="search"
    name="search"
    value=""
    [(ngModel)]="name"
    (keyup.enter)="search()"
    autocomplete="off"
    placeholder="Start searching for a product by name"
  />
  <div class="pagination">
    <small>Total product: {{ totalRows }}</small>
    <pagination-controls
      (pageChange)="currentPage = $event"
      maxSize="6"
      directionLinks="false"
      autoHide="true"
      responsive="false"
      previousLabel="<"
      nextLabel=">"
    ></pagination-controls>
  </div>
  <div class="product-list">
    <div
      class="product"
      *ngFor="
        let product of products
          | paginate
            : {
                itemsPerPage: 8,
                currentPage: currentPage,
                totalItems: totalRows
              }
      "
    >
      <img
        class="product__image"
        [src]="[product.imgUrl]"
        alt="image"
        loading="lazy"
      />
      <div class="product__info">
        <p class="product__info__name">
          {{ product.name }}
        </p>
        <small class="product__info__category">
          Category: {{ product.category.name }}
        </small>
        <strong class="product__info__price">{{
          product.price | formatPrice
        }}</strong>
      </div>
    </div>
  </div>
  <div style="animation-delay: 1000ms" class="pagination">
    <small style="opacity: 0">Total product: {{ totalRows }}</small>
    <pagination-controls
      (pageChange)="currentPage = $event"
      maxSize="6"
      directionLinks="false"
      autoHide="true"
      responsive="false"
      previousLabel="<"
      nextLabel=">"
    ></pagination-controls>
  </div>
</div>
