<div class="wrapper">
  <div class="product">
    <img
      class="product__image"
      [src]="[product.imgUrl]"
      alt="image"
      loading="eager"
    />
    <div class="product__info">
      <h3 style="width: 100%" class="product__info__name">
        {{ product.name }}
      </h3>
      <p class="product__info__description">{{ product.description }}</p>
      <h2 class="product__info__price">{{ product.price | formatPrice }}</h2>
    </div>
  </div>
  <button class="backToList" (click)="backToList()">
    &#8592; Back to list
  </button>
</div>
