@import '/src/assets/scss/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  background: $white;
  color: $black;
  font-family: $primary-font;
  line-height: $line-height;
  font-display: fallback;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes slideToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideToBottom {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideToTop {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background: #f5f5f5;
  opacity: 0.6;
}
::-webkit-scrollbar-thumb {
  height: initial;
  background: #3b4252;
}

