
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$background: #2e3440;
$color: #ECEFF4;
$decoration-color: #b48ead;

$primary-font: 'Quicksand', sans-serif;
$line-height: 150%;

$transition: all 500ms ease;

$tablet: 1023px; // desktop first
$mobile: 767px;

$max-width-container: 1366px;