<p>Product List</p>
<input
  class="form-control"
  type="text"
  name="search"
  [(ngModel)]="name"
  (keyup.enter)="search()"
  autocomplete="off"
  placeholder="&#61442;  Start searching for a hero by id or name or country"
/>
<small>Total product: {{ totalRows }}</small>
<pagination-controls
  (pageChange)="currentPage = $event"
  maxSize="6"
  directionLinks="false"
  autoHide="true"
  responsive="false"
  previousLabel="<"
  nextLabel=">"
></pagination-controls>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Image Url</th>
    <th></th>
  </tr>
  <tr
    *ngFor="
      let product of products
        | paginate
          : {
              itemsPerPage: 24,
              currentPage: currentPage,
              totalItems: totalRows
            }
    "
  >
    <td>
      {{ product.name }}
    </td>
    <td style="text-align: right">
      {{ product.price | formatPrice }}
    </td>
    <td>
      {{ product.category.name }}
    </td>
    <td>
      {{ product.imgUrl }}
    </td>
    <td>Edit</td>
  </tr>
</table>
