@import "/src/assets/scss/shared";

.header {
  background: $black;
  padding: 1rem 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  cursor: pointer;
  &__logo {
    color: $magenta;
  }
  &__menu {
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .selected {
      color: $magenta;
      opacity: 0.8;
    }
    a {
      color: $white;
      transition: $transition;
    }
    a:not(:last-of-type) {
      margin-right: 1rem;
    }
    a:hover {
      color: $magenta;
    }
  }
}
@media screen and (max-width: $mobile) {
  .header {
    padding: 1rem;
  }
}
