@import "/src/assets/scss/shared";

.header {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  cursor: pointer;
  &__logo {
    color: $decoration-color;
  }
  &__menu {
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    .selected {
      color: $decoration-color;
      opacity: 0.9;
    }
    a:not(:last-of-type) {
      margin-right: 1em;
    }
  }
}
