<nav class="category">
  <!-- <li
    [routerLink]="['/product']"
    routerLinkActive="selected"
    [routerLinkActiveOptions]="{ exact: true }"
    class="category__item"
  >
    All
  </li> -->
  <li
    [routerLink]="['/product', category.id]"
    routerLinkActive="selected"
    class="category__item"
    *ngFor="let category of categories"
  >
    {{ category.name }}
  </li>
</nav>

<input type="checkbox" class="category--mobile" id="check" />
<label
  class="label"
  style="
    margin: 0.25rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid #2e3440;
  "
  for="check"
>
  &#9776;
</label>
<label
  for="check"
  class="option category--mobile"
  [routerLink]="['/product']"
  routerLinkActive="selected"
  [routerLinkActiveOptions]="{ exact: true }"
>
  All
</label>
<label
  for="check"
  [routerLink]="['/product', category.id]"
  routerLinkActive="selected"
  class="option category--mobile"
  *ngFor="let category of categories"
  value=""
>
  {{ category.name }}
</label>
