@import "/src/assets/scss/shared";

.category {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $black;
  animation: slideToRight 500ms ease-out;
  .selected {
    font-weight: bold;
    color: $white;
    background: $magenta;
    opacity: 0.8;
  }
  &__item {
    cursor: pointer;
    margin: 2px 0.25rem;
    padding: 0 0.25rem;
    min-width: max-content;
    border-radius: 0.25rem;
    transition: $transition;
  }
  &__item:hover {
    color: $magenta;
  }
  &--mobile {
    display: none;
  }
}
.label {
  display: none;
}
@media screen and (max-width: $mobile) {
  .label {
    display: block;
    margin: 0 !important;
  }
  .category {
    &--mobile {
      .option {
        background: $black;
        transition: $transition;
      }
      .option:hover {
        background: $magenta;
      }
    }
    &--mobile:not(:checked) ~ .option {
      display: none;
      opacity: 0;
      transform: translateY(100%);
    }
    &--mobile:checked ~ .option {
      display: block;
      background: $black;
      color: $white;
      padding: 0.5rem;
      opacity: 1;
      transform: translateY(0%);
    }
    &--mobile:checked ~ .label {
      display: block;
      background: $black;
      color: $white;
      padding: 0.5rem;
      opacity: 1;
      transform: translateY(0%);
    }

    display: none;
    flex-flow: column;
    &__item {
      width: 100%;
    }
  }
}
