@import "/src/assets/scss/shared";

.category {
  background: $black;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  animation: slideToRight 1500ms ease-out 500ms backwards;
  &__item {
    padding: 0.5rem;
    width: 10%;
    text-align: center;
  }
}
@media screen and (max-width: $mobile) {
  .category {
    display: none;
  }
}
