@import "/src/assets/scss/shared";

.main {
  // min-height: 400px;
  padding: 1rem 5rem;
}

@media screen and (max-width: $mobile) {
  .main {
    padding: 1rem;
  }
}

.moveToTop {
  position: fixed;
  padding: 1rem;
  background: $magenta;
  opacity: 0.5;
  bottom: 1rem;
  right: 1rem;

  border-radius: 50%;
}
